:root {
    --primary: #007bff;
    --white: #fff;
    --secondary: #6c757d;
    --radius:1em;
}

html {
    font-family: "Poppins", serif;
}

body {

    background-color: var(--white, #fff);
    background-image: radial-gradient(var(--primary, #007bff) 2px, transparent 2px), radial-gradient(var(--primary, #007bff) 2px, var(--white, #fff) 2px);
    background-size: 200px 200px;
    background-position: 0 0,100px 100px;
}

.container {
    padding: 1em;
}


@media screen and (min-width: 900px) {
    .container--main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.container__section--image {
    width: 90%;
    margin: 0 auto;
}

.container__section--text {
    margin: 1em;
}

.container__text {
    padding: 1em;
    border-radius: var(--radius, 1em) .5em;
    background: #d1d1d1;
    box-shadow: 5px 5px 20px var(--secondary, #6c757d),
        -5px -5px 20px var(--white, #fff);
}

h1 {
    font-size: 2em;
    font-weight: 600;
    color: var(--primary, #007bff);
}

.image-responsive {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: var(--radius, 1em);
}

.btn {
    background-color: var(--primary, #007bff);
    border-radius: var(--radius, 1em);
    padding: 1em 2em 1em 1em;
    text-align: center;
    display: inline-block;
    margin: .5em .25em;
    cursor: pointer;
    color: var(--white, #fff);
    text-decoration: none;
}

.btn::before {
    content: "→";
    margin-right: .5em;
}

.btn:hover {
    background-color: var(--secondary, #6c757d);
    transition: .5s;

}